@import "tailwindcss";

@layer components {
  .bottom-shadow {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  }
  .top-shadow {
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.1);
  }
}